@font-face {
    font-family:"Lato-bold";
    font-style: normal;
    font-weight: 400;
    src: url(..//fonts/Lato-Bold.woff2) format("woff2"),
         url(..//fonts/Lato-Bold.woff) format("woff");
}
@font-face {
    font-family:"Lato-bold";
    font-style: normal;
    font-weight: 700;
    src: url(..//fonts/Lato-Regular.woff2) format("woff2"),
         url(..//fonts/Lato-Regular.woff) format("woff");
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {

    font-family: "Lato-bold","Lato-Regular","sans-serif";

}
.menu-box-top{
    background-image: url("../images/wuman.jpg"); 
    background-size: 100% 782px;
    max-width: 100%;
    height: 782px;
    content: "";
}
.menu-link-box-top {
    background:  linear-gradient(90deg, rgba(213, 32, 71, 0.8) 0%, rgba(238, 61, 27, 0.8) 100%);
    height: 782px;
   
}
.menu-box {
    list-style-type: none;
    margin-left: 55px;
    display: flex;
    align-items: center;
}
.logo-cloud-left {
    display: flex;
    align-items: center;
    margin-top: 60px;
    margin-left: 80px;
}
.cloud-logo {
    text-transform: uppercase;
    text-decoration: none;
    color:#fff;
    font-size: 18px;
    line-height: 22px;
}
.link-menu-top {
    display: flex;
    margin-top: 64px;
    margin-left: 141px;
}
.menu {
    margin-left: 20px;
    text-transform: uppercase;  
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    line-height: 17px;
    transition: 0.5s;
}
.menu:hover {
    transform: scale(1.2);
    font-size: 18.1px;
    color: rgb(71, 166, 255);
}
.language-box-right {
    margin-left: 100px;
    display: flex;
    align-items: center;
}
.icon-usa {
    margin-top: 54px;
}
.language {
    margin-top: 59px;
    margin-left: 11px;
    background-color: transparent;
    text-transform: uppercase;
    border: none;
    color:#fff;
}
.eng-text {
    background-color: rgb(46, 164, 173);
}
.ru-text {
    background-color: rgb(51, 204, 145);
}
.uzb-text {
    background-color: rgb(240, 71, 255);
}
.link-loign-right {
    margin-top: 55px;
    margin-left: 28px;
}
.login-link {
    border: 1px solid #FFFFFF;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    padding: 12px 29px;
    font-size: 14px;
    line-height: 17px;
    border-radius: 6px;
}
.login-link:hover {
    background-color: rgb(235, 59, 59);
    color: rgb(255, 255, 255);
}
.title-header-box {
    margin-top: 167px;
}
.title-header-center {
    font-size: 72px;
    line-height: 86px;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
}
.text-header-center {
    font-size: 20px;
    line-height: 150%;
    font-weight: 600;
    width: 540px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 39px;
    margin-bottom: 70px;
    color: #fff;
}
.link-login {
    text-decoration: none;
    text-transform: uppercase;
    color: #ED4C5C;
    margin-left: 590px;
    background-color: #fff;
    padding: 17px 53px;
    border-radius: 6px;
}
.link-login:hover {
    background-color: rgb(235, 59, 59);
    color: #fff;
}
.link-login:active {
    background-color: rgb(59, 215, 235);
    color: rgb(12, 5, 39);
}
.item {
    margin-top: 94px;
    display: flex;
    background-color: #fff;
    width: 100%;
    height: 500px;  
}
.text-box-one {
    margin-left: 165px;
}
.title-left {
    width: 445px;
    height: 107px;
    margin-top: 140px;
    
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
}
.text-left {
    position: relative;
    margin-top: 24px;
    margin-right: 125px;
    width: 445px;
    height: 115px;
    font-size: 14px;
    line-height: 140%;
    font-weight: normal;
}
.link-news {
    text-decoration: none;
    text-align: justify;
    color: #ED4C5C;
    font-size: 14px;
    line-height: 140%;
    position: absolute;
    transform: translateY(-20px);
}
.video-button{
    position: absolute;
    top: 1000px;
    left: 703px;
    z-index: 1;
    background-image: url("../images/PlaySolid(F5B0)button.png");
    padding: 24px;
    background-color: #ED4C5C;
    background-size: 18px 18px;
    background-repeat: no-repeat;
    background-position-x: 26px;
    background-position-y: center;
    border-radius: 50%;
    width: 66px;
    height: 66px;
    content: "";
    cursor: pointer;
}
.video-box {
    margin-left: 125px;
  
}
.icon-mone{
    cursor: pointer;
    border-radius: 6px;
}
.icon-mone:hover {
    box-shadow: 15px 20px 20px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 1;
    transform: scale(1.1);
}
.section-two {
    height: 660px;
    background-color: #FAFAFA;
}
.title-center-section {
    transform: translateY(63px);
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
    text-align: center;
}
.card-box {
    list-style-type: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;       
    display: flex;
}
.card-box-one {
    margin-left: 125px;
}
.card-box-two {
    margin-left: 30px;
}
.card-box-three {
    margin-left: 30px;
}
.icon-phone {

    border-radius: 6px;
    cursor: pointer;
}
.icon-phone:hover {
    position: relative;
    z-index: 1;
    transform: scale(1.1);
    box-shadow: 0 20px 20px 2px rgba(0, 0, 0, 0.1);
}
.card-two {
    margin-left: 26px;
    position: absolute;
    transform: translateY(-90px);
    list-style-type: none;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
    width: 293px;
    height: 198px;
}
.card-title-large {
    width: 229px;
    height: 40px;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    margin-left: 30px;
    margin-top: 33px;
}
.card-text {
    width: 229px;
    margin-top: 20px;
    margin-left: 30px;
    margin-bottom: 25px;
    text-align: center;
    font-size: 12px;
    line-height: 150%;
    
}
.icon-room:hover {
    cursor: pointer;
    position: relative;
    z-index: 1;
    transform: scale(1.1);
    box-shadow: 0 20px 20px 2px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
}

.link-card {
    margin-left: 115px;
    color: #ED4C5C;
    font-weight: bold;
    font-size: 12px;
    line-height: 150%;
    text-decoration: none;
    transition: 0.5s;
}
.link-card:hover {
    color: rgb(148, 182, 55);
    font-size: 14px;
}
.download-box {
    position: relative;
    margin-top: 63px;
}
.title-top-download {
    font-weight: 600;
font-size: 36px;
line-height: 43px;
text-align: center;
}
.slider-box {
    display: flex;
    list-style-type: none;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.nuumber-card-one {
    position: absolute;
    background-image: url("../images/Frame 3dawnload.png");
    background-repeat: no-repeat;
    background-position-x: 15px;
    background-position-y: 54px;
    background-size: 80px 80px;
    height: 80px;
    padding-bottom: 200px;
    content: "";
}
.nuumber-card-two {
    position: absolute;
    background-image: url("../images/Frame 4search.png");
    background-repeat: no-repeat;
    background-position-x: 25px;
    background-position-y: 64px;
    background-size: 66px 66px;
    width: 66px;
    height: 66px;
    padding-bottom: 200px;
    content: "";
}
.nuumber-card-three {
    position: absolute;
    background-image: url("../images/iwwa-file-pdfpdf.png");
    background-repeat: no-repeat;
    background-position-x: 25px;
    background-position-y: 60px;
    background-size: 70px 70px;
    width: 70px;
    height: 70px;
    padding-bottom: 200px;
    content: "";
}
.nuumber-card-four {
    position: absolute;
    background-image: url("../images/Frame 5csv.png");
    background-repeat: no-repeat;
    background-position-x: 35px;
    background-position-y: 72px;
    background-size: 47px 54px;
    width: 47px;
    height: 54px;
    padding-bottom: 200px;
    content: "";
}
.slider-box { 
    margin-top: 52px;
}
.nuumber-card-one,.nuumber-card-two,.nuumber-card-three,.nuumber-card-four {
    position: absolute;
    width: 117px;
    height: 120px;
    font-size: 100px;
    line-height: 120px;
    text-align: center;
    color: rgba(16, 16, 16, 0.08);
    margin-left: 200px;
}
.nuumber-card-two {
    margin-left: 140px;
}
.nuumber-card-three {
    margin-left: 150px;
}
.nuumber-card-four {
    margin-left: 150px;
}
.title-slider-one {
    margin-top: 140px;
    font-size: 18px;
    line-height: 22px;
    margin-left: 150px;
}
.text-slider-one   {
    font-size: 12px;
    line-height: 14px;
    width: 191px;
    height: 51px;
    margin-left: 150px;
    margin-top: 10px;
}

.title-slider-two {
    margin-top: 140px;
    margin-left: 100px;
    font-size: 18px;
    line-height: 22px;
}
.text-slider-two {
    font-size: 12px;
    line-height: 14px;
    width: 191px;
    height: 51px;
    margin-left: 100px;
    margin-top: 10px;
}

.title-slider-three {
    margin-top: 140px;
    margin-left: 110px;
    font-size: 18px;
    line-height: 22px;
}
.text-slider-three {
    font-size: 12px;
    line-height: 14px;
    width: 191px;
    height: 51px;
    margin-left: 115px;
    margin-top: 10px;
}

.title-slider-four {
    margin-top: 140px;
    margin-left: 113px;
    font-size: 18px;
    line-height: 22px;
}
.text-slider-four {
    font-size: 12px;
    line-height: 14px;
    width: 191px;
    height: 51px;
    margin-left: 115px;
    margin-top: 10px;
}
.saving-money-box {
    display: flex; 
    background-color: #ED4C5C; 
    width: 100%;
    height: 500px;
}
.title-left-money {
    color: #fff;
    font-size: 36px;
    width: 445px;
    height: 107px;
    line-height: 43px;
    margin-left: 125px;
    margin-top: 122px;
}
.text-left-money {
    font-size: 14px;
    line-height: 140%;
    text-align: justify;
    color: #FFFFFF;
    margin-left: 125px;
    margin-top: 24px;
    width: 445px;
    height: 64px;
}
.icon-left-play {
    margin-left: 125px;
    margin-top: 40px;
}
.icon-left-apple {
    margin-left: 26px;
    margin-top: 40px;
}
.icon-left-windows {
    margin-left: 25px;
    transform: translateY(-4px);
    margin-top: 40px;
}
.right-img-box {
    display: flex;
}
.icon-piple-left {
    position: absolute;
    background-image: url("../images/Video_bgleft.png");
    width: 383px;
    height: 267px;
    margin-top: 116px;
    margin-left: 81px;
    cursor: wait;
}

.icon-piple-center {
    position: relative;
    z-index: 1;
    background-image: url("../images/Video_bgcenter.png");
    margin-top: 94px;
    margin-left: 125px;  
    width: 445px;
    height: 311px;
    cursor:pointer;
}
.icon-piple-right {
    position: absolute;
    background-image: url("../images/Video_bgright.png");
    width: 383px;
    height: 267px;
    margin-top: 116px;
    margin-left: 231px; 
    cursor: wait; 
}
.register-box {
     display: flex;
}
.title-left-register {
    width: 445px;
    height: 107px;
    font-size: 36px;
    line-height: 43px;
    margin-left: 126px;
    margin-top: 117px;
}
.text-lelt-register {
    width: 434px;
    height: 64px;
    font-size: 14px;
    line-height: 140%;
    margin-left: 126px;
    margin-top: -6px;
}
.ligin-right {
    margin-left: 125px;
    margin-top: 117px;
}
.login-first-name {
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 31px;
    padding-right: 80px;
    border-radius: 6px;
    border: 1px solid #333333;
}
.login-last-name {
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 25px;
    padding-right: 80px;
    border-radius: 6px;
    border: 1px solid #333333;
    margin-left: 20px;
}
.tel-login {
    margin-top: 24px;
    border: 1px solid #333333;
    padding-left: 31px;
    border-radius: 6px;
    width: 580px;
    height: 60px;
}

.select-service {
    margin-top: 24px;
    width: 580px;
    height: 60px;
    border: 1px solid #333333;
    padding-left: 31px;
    border-radius: 6px;
    display: block;
}
.button-login {
    background-color: #ED4C5C;
    border: 1.5px solid #ED4C5C;
    border-radius: 6px;
    padding: 17px 34px;
    color: #fff;
    margin-top: 27px;
    cursor: pointer;
    transition: 0.2s;
   
}
.button-login:hover {
    background-color: rgb(0, 225, 255);
    border:none;
    font-size: 15px;
   
}


/* Footer */


.footer-box {
    background-color:  #FAFAFA;
    width: 100%;
    height: 435px;
}
.end-footer-box {
    margin-top: 123px;
    display: flex;
    list-style-type: none;
}
.title-footer-top-left {
    margin-top: 85px;
    margin-left: 166px;
    font-size: 18px;
    line-height: 22px;
    color: #101010;
}
.text-footer-left-center {
    font-size: 12px;
    line-height: 150%;
    width: 254px;
    height: 54px;
    color: #101010;
    margin-left: 166px;
    margin-top: 33px;
}
.reference-footer-left-end {
    font-size: 12px;
    line-height: 14px;
    color: #101010;
    margin-left: 161px;
    margin-top: 141px;
}
.menu-footer-two {
    margin-left: 160px;
    margin-top: 85px;
}
.title-left-two {
    width: 67px;
    height: 22px;
    font-size: 18px;
    line-height: 22px;
    color: #101010;
}
.link-footer-menu {
    width: 200px;
    line-height: 0;
    display: block;
    text-decoration: none;
    font-size: 12px;
    color: #000;
    margin-top: 28px;
    transition: 0.2s;
}
.link-footer-menu:hover {
    color: #ED4C5C;
    font-size: 12.5px;
}
.title-footer-right-one {
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #101010;
    margin-top: 85px;
    margin-bottom: 25px;
}
.right-footer-menu {
    text-decoration: none;
    color: #101010;
    margin-left: 25px;
    font-size: 12px;
    line-height: 14px;
}
.right-footer-menu {
    display: block;
    transition: 0.2s;
}
.right-footer-menu:hover {
    color: #ED4C5C;
    font-size: 12.5px;
}

.right-footer-menu:nth-child(2) {
    margin-bottom: 11px;
}
.right-footer-menu:nth-child(3) {
    margin-bottom: 20px;
}
.footer-center-logo-link {
    display: flex;
    letter-spacing: 5px;
}
.right-footer-menu-one {
    margin-left: 25px;
}
.right-footer-menu-one:nth-child(2) {
    margin-left: 14px;
}
.right-footer-menu-one:nth-child(3) {
    margin-left: 14px;
}
.title-right-link-logo {
    font-size: 18px;
    line-height: 22px;
    color: #101010;
    margin-top: 85px;
    margin-bottom: 22px;
    margin-left: 150px;
}
.icon-link-footer {
    margin-left: 156px;
}